body{
    margin: 0;
    padding: 0;
    background-color: #E4E9FD;
    font-family: 'Montserrat', sans-serif;
}
.header{
    background-color: #A683E3 ;
    height: 100px;
    position: relative;
}

.logo{
    height: 70px;
    width: auto;
}
.nav-link{
    color: white;
    font-size: 1.2rem;
    width: 100px;
    margin-left: 20px;
}

.nav-button{
    position: absolute;
    left: 40%;
}
.nav-item{
    width: 5rem;
}
.sign-item{
    padding-left: 30px;
}

.cover-img{
    margin-top: 50px;
    
}

.card {

    padding: 30px;
    margin: 30px 30px;
    background-color: #ffffff;

    color: #F3EFF5;
    border-radius: 5%;
    box-shadow: 10px 10px 30px 0px #6e7995;

}
.card-title{
     font-family: 'Montserrat', sans-serif;
     font-weight: 600;
     color:black;
     font-size: 1.5rem;
     position: absolute;
     top:50%;
     left: 50%;
     transform: translateX(-50%) translateY(-50%);
}
h2{
    color: #A683E3;
}

footer{
    background-color: #A683E3;
    margin-top: 100px;
}
.sub-heading{
    text-align: center;
    margin:40px 0;
    font-weight:600 ;
}



 /* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Ubuntu', sans-serif;  */